.bg-primary-now{
  background: rgba($primary-gradient, .03);
}

.bg-info-now{
  background: rgba($info-gradient, .03);
}

.bg-success-now{
  background: rgba($success-gradient, .03);
}

.bg-warning-now{
  background: rgba($warning-gradient, .03);
}

.bg-danger-now{
  background: rgba($danger-gradient, .03);
}
